<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhit.easybuy.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.qhit.easybuy.entity.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="categoryLevel1Id" property="categorylevel1id" jdbcType="INTEGER" />
    <result column="categoryLevel2Id" property="categorylevel2id" jdbcType="INTEGER" />
    <result column="categoryLevel3Id" property="categorylevel3id" jdbcType="INTEGER" />
    <result column="fileName" property="filename" jdbcType="VARCHAR" />
    <result column="isDelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, price, stock, categoryLevel1Id, categoryLevel2Id, categoryLevel3Id, 
    fileName, isDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from easybuy_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from easybuy_product

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from easybuy_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhit.easybuy.entity.Product" useGeneratedKeys="true" keyProperty="id" >
    insert into easybuy_product (name, description, price, 
      stock, categoryLevel1Id, categoryLevel2Id, 
      categoryLevel3Id, fileName, isDelete
      )
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{stock,jdbcType=INTEGER}, #{categorylevel1id,jdbcType=INTEGER}, #{categorylevel2id,jdbcType=INTEGER}, 
      #{categorylevel3id,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qhit.easybuy.entity.Product" useGeneratedKeys="true" keyProperty="id" >
    insert into easybuy_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="categorylevel1id != null" >
        categoryLevel1Id,
      </if>
      <if test="categorylevel2id != null" >
        categoryLevel2Id,
      </if>
      <if test="categorylevel3id != null" >
        categoryLevel3Id,
      </if>
      <if test="filename != null" >
        fileName,
      </if>
      <if test="isdelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="categorylevel1id != null" >
        #{categorylevel1id,jdbcType=INTEGER},
      </if>
      <if test="categorylevel2id != null" >
        #{categorylevel2id,jdbcType=INTEGER},
      </if>
      <if test="categorylevel3id != null" >
        #{categorylevel3id,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qhit.easybuy.entity.Product" >
    update easybuy_product
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="categorylevel1id != null" >
        categoryLevel1Id = #{categorylevel1id,jdbcType=INTEGER},
      </if>
      <if test="categorylevel2id != null" >
        categoryLevel2Id = #{categorylevel2id,jdbcType=INTEGER},
      </if>
      <if test="categorylevel3id != null" >
        categoryLevel3Id = #{categorylevel3id,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qhit.easybuy.entity.Product" >
    update easybuy_product
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      stock = #{stock,jdbcType=INTEGER},
      categoryLevel1Id = #{categorylevel1id,jdbcType=INTEGER},
      categoryLevel2Id = #{categorylevel2id,jdbcType=INTEGER},
      categoryLevel3Id = #{categorylevel3id,jdbcType=INTEGER},
      fileName = #{filename,jdbcType=VARCHAR},
      isDelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<select id="getProductList" resultType="com.qhit.easybuy.entity.Product">
    select
    <include refid="Base_Column_List" />
    from easybuy_product
    where   categoryLevel1Id = #{id,jdbcType=INTEGER}
        or  categoryLevel2Id = #{id,jdbcType=INTEGER}
        or categoryLevel3Id = #{id,jdbcType=INTEGER}
       or name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
</select>




  <select id="queryProductCount" resultType="java.lang.Integer" parameterType="com.qhit.easybuy.entity.Product">
    select count(*)
    from easybuy_product
    <where>
        <if test="name != null" >
             name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%'),
        </if>
        <if test="id != null" >
            or categoryLevel1Id = #{categorylevel1id,jdbcType=INTEGER},
        </if>
        <if test="categorylevel2id != null" >
            or  categoryLevel2Id = #{categorylevel2id,jdbcType=INTEGER},
        </if>
        <if test="categorylevel3id != null" >
            or categoryLevel3Id = #{categorylevel3id,jdbcType=INTEGER}
        </if>
    </where>
  </select>

</mapper>